@charset "UTF-8";


/* --- Reset --- */
* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    
    border : 1px dashed red;
}

/* --- HTML --- */
html {
    /* Tamaño de ROOT */
    font-size: 16px;
}

h1 { font-size: 1.25rem; }

h2 { font-size: 2rem; }

h3 { font-size: 1.75rem ; }

h4 { font-size: 1.5rem ; }

h5 { font-size: 1.25rem; }

h6 { font-size: 1rem ; }

p, a {
    max-width: 58ch ;
    text-align: left ;
}


/* --- Body --- */
.Body {
    font-size : clamp( 100% , 1rem + .75vw , 25px ) ;
    line-height: 1.5;
    font-weight: 400;
    font-style: normal;
    font-family: "Roboto", sans-serif;

    max-width: 1400px;
    margin : 0 auto ;
}

/* --- Header --- */
.Header {
    height: 70vh;
    
    color: white ;

    background-color: #2EBFFF;
}

.Header .navbar {
    height: 72px;

}

.Header .navbar .figure {}

.Header .navbar .figure .figure__img {}

.Header .navbar .menu {
    list-style-type: none;
}

.Header .navbar .menu .menu__item {}

.Header .navbar .menu .menu__item .menu__item--link {}

.Header .contactMe {}

.Header .button {}

.Header .hero {
}

.Header .hero .hero__title {}



/* --- Aside --- */
.Aside {}


/* --- Main --- */
.Main {
    height: 200vh;
}


/* --- Footer --- */
.Footer {
    height: 250px;

    background-color: #90D4C5;
}